{% extends '::base.html.twig' %}

{% block body %}
Geolocation form types.

<form>
{{ form_widget(form) }}
<input type="submit">
</form>
{% endblock body %}

{% block stylesheets %}
{{ parent() }}

{{ form_stylesheet(form) }}
{% endblock stylesheets %}

{% block javascripts %}
{{ parent() }}

{{ form_javascript(form) }}
{% endblock javascripts %}
